.wrapper{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.shoppingCartHeader {
    font-size: 32px;
    margin: 30px 30px 15px;
}

.cartItemBlock {
    background-color: #d9d9d9;
    /*width: 100%;*/
    height: 40%;
    margin-left: 30px;
}

.firstHalfCartItemBlock {
    width: 55%;
    vertical-align: top;

}

.secondHalfCartItemBlock {
    width: 42%;
}
.categoryLabel {
    padding: 21px 25px 20px;
    font-size: 20px;

}

.cartItemExpandButton {
    background-color: #717171;
    border-radius: 50%;

}

.expandButtonContainer {
    padding: 5% 0px 0px 84%;
    padding: 5% 0px;
}
.expandArrow {
    height: 40px;
}

.priceContainer {
    padding-top: 17%;
}

.productTitle {
    padding-left: 23px;
}

.requestService{
    padding-left: 23px;
}

textarea{
    width: 487px;
    height: 124px;
    resize: none;
}

.textAreaDiv{
    padding: 5px 22px;
}

/* Side Section*/

.sidePriceSection{

}

.priceContainerBlock{
    background-color: #d9d9d9;
    width: 280px;
    height: 400px;
    right: 2%;
    top: 15%;
    position: fixed;
    float: right;
    border-radius: 20px;
    padding: 30px;
}

.subTotal, .estimatedTax, .totalPrice{
    position: relative;
    justify-content: space-between;
    display: flex;
}

.totalPrice{
    top: 70%;
}

.confirmButton{
    width: 100%;
    height: 8%;
    background-color: black;
    border-radius: 8px;
    border-color: royalblue;
    border-width: 4px
}