.errorSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.errorHeader {
    font-size: 160px;
    color: blueviolet;
}

.pageNotFound {
    font-size: 24px;
    color: crimson;
}