/*Nav bar, color and height*/
#navBar {
    padding: 15px 40px;
    height: 100px;
    background-color: lightgrey;
    box-sizing: border-box;
    justify-content: space-between;
}

/*Logo sizing*/
#logo {
    width: 10px;
    background-color: grey;
}

.navBarButton {
    width: 202px;
    height: 100%;
    margin: 0px;
}




