/*Nav bar, color and height*/
#navBar {
    padding: 15px;
    height: 80px;
    background-color: lightgrey;
    box-sizing: border-box;
    display: flex;
}

/*Logo sizing*/
#logo {
    width: 10px;
    background-color: grey;
}






